[Desktop Entry]
Name=TeamSpeak
Comment=VoIP chat for online gaming
Exec=ts3client
Icon=teamspeak.png
Terminal=false
Type=Application
Categories=Application;Network;Telephony;
StartupNotify=true
