Package: teamspeak-client
Version: 3.5.2
Architecture: i386
Maintainer: Sorokin Alexei <sor.alexei@hotbox.ru>
Installed-Size: 55451
Depends: libaudio2
Section: net
Priority: optional
Homepage: http://www.teamspeak.com/
Description: VoIP chat for online gaming
 TeamSpeak is a quality, scalable application which enables people to speak
 with one another over the Internet. TeamSpeak consists of both client and
 server software. The server acts as a host to multiple client connections,
 capable of handling literally thousands of simultaneous users. This results
 in an Internet based teleconferencing solution that works in a variety of
 applications such as team mates speaking with one another while playing
 their favorite online game, small businesses cutting costs on long distance
 charges, or for personal communication with friends and family.
 .
 This package contains the graphical TeamSpeak client.

